#services {
	background-color: white;
	position: relative;
	padding-bottom: 20px
}

#services .title-services {
	height: 6pc;
	background-color: #337ab7;
	margin-top: 40px;
	margin-bottom: 40px;

}

#services .section-heading {
	font-family: 'Concert One', sans-serif;
	padding: 25px;
	color: white
}

.services-case {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.services-image {
	position: relative;
	height: 350px;
	width: 400px;
	overflow: hidden;
	border-radius: 20px;
	margin: auto;
}

.services-image img {

	width: 100%;
	min-height: 350px;
	border-radius: 20px;

}

.services-info {
	position: absolute;
	width: 100%;
	background: rgba(255, 255, 255, .7);
	height: 150px;
	bottom: -5.6rem;
	transition: all 1s;
}

.services-link {
	color: black;
}

.services-link:hover {
	color: black;
}

.services-info h2 {
	padding: 10px;
}

.services-image:hover .services-info {
	bottom: 0;
	cursor: pointer;
}

.services-image:hover img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	transition: all 1s;
	cursor: pointer;
}

.services-description {
	padding: 10px;
}

@media (max-width: 1300px) {

	.services-image {
		height: 194.4444px;
		width: 222.2222px;
		margin: auto
	}

	.services-image img {
		width: 100%;
		min-height: 194.4444px;
		border-radius: 20px;
	}
}
@media (max-width: 720px) {
		.services-image {
		height: 166.6666px;
		width: 190.4761px;
		margin: auto
	}

	.services-image img {
		width: 100%;
		min-height: 166.6666px;
		border-radius: 10px;
	}
}